#banner {
    background: linear-gradient(to right, #e172ba, #ffa6e0 , #ecb8dc);
}

.navbar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imagem img {
    height: 15rem;
    width: auto;
    border-radius: 200px;
}

#whatsapp, #instagram, #expediente {
    font-size: 1.3rem;
}

#modal h2{
    margin-bottom: 1rem;
    padding-top: .5rem;
}

#modal button {
    padding: .5rem 1.2rem;
    background-color: #dd77b9;
    color: white;
    border: none;
    border-radius: .30rem;
    cursor: pointer;
    opacity: .8;
    font-size: 1rem;
    transform: 0.4s;
}

#modal button:hover{
    opacity: 1;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
    display: none;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    background-color: white;
    transform: translate(-50%, -50%);
    width: 550px;
    max-width: 90%;
    border-radius: 1rem;
    display: none;
    padding: 1.2rem;
}

#body_modal {
    line-height: .3rem;
    font-size: .9rem;
}

@media (max-width: 420px){
    #body_modal{
        font-size: .78rem;
    }
    #carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

    }

}

#header_modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

:root {
    scroll-behavior: smooth;
}

#endereço {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.item-endereço {
    margin-bottom: 40px;
}

.item-endereço i {
    font-size: 20px;
    color: #fff;
    background: #e172ba;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
}

.item-endereço i:hover {
    background: #ecb8dc;
    color: white;
}

.item-endereço h5 {
    padding: 0;
    margin-bottom: 0;
}

.item-endereço p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.rodape {
    padding: 15px;
}