body {
    background: linear-gradient(to right, #e172ba, #ffa6e0 , #ecb8dc);
}

img {
    border-radius: 300px;
    height: 13rem;
}

#logo {
    height: 13.5rem;
    width: 13.5rem;
    border-radius: 300px;
    background-color:#8F6F8A ;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px
}

#nome_estudio {
    position: relative;
    top: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

#bio_links {
    position: relative;
    top: 70px;
    border-radius: 100px;
    background-color: white;
    width: 300px;
    padding: 10px;
    box-shadow: 1.5px 2px 2px black;
}

#bio_links:hover, #marcar_horario:hover, #Contato:hover {
    box-shadow: 3px 3px 3px rgb(236, 0, 197);
}

#bio_links a, #marcar_horario a, #Contato a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#marcar_horario {
    position: relative;
    top: 80px;
    border-radius: 100px;
    background-color: white;
    width: 300px;
    padding: 10px;
    box-shadow: 1.5px 2px 2px black;
}

#bio_links i, #marcar_horario i, #Contato i {
    float: left;
}

#Contato {
    position: relative;
    top: 90px;
    border-radius: 100px;
    background-color: white;
    width: 300px;
    padding: 10px;
    box-shadow: 1.5px 2px 2px black;
}